<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <title>Ironbnb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<section class="container-fluid">
	<article class="row">
		<div class="col-xs-5">
			<span class="col-xs-3">
				<%= link_to "Home", home_path %>
			</span>
			<span>
			</span>
		</div>
	</article>
</section>
<h1>This is the <%=@site_name %> site</h1>

<%= yield %>

</body>
<footer>
<%= link_to "Home", home_path %>
<%= link_to "Become Host", become_host_path %>
<%= link_to "Help", help_path %>
<%= link_to "Sign Up", sign_up_path %>
<%= link_to "Log In", log_in_path %>
</footer>
</html>
